@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap");

html {
  font-size: 0.81rem;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
  min-height: 100vh;
  background-color: hsl(210, 46%, 95%);
  font-family: "Barlow Semi Condensed", sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

/* Responsive styles */
@media screen and (max-width: 1201px) {
  section {
    margin-top: 5.385rem;
  }
  section > :nth-child(2),
  section > :nth-child(4) {
    grid-column: span 2;
  }
  section > :nth-child(3) {
    grid-row: span 1;
    grid-column: span 4;
  }
}

@media screen and (max-width: 801px) {
  section > * {
    grid-column: span 4;
    grid-row: span 1;
  }
}